* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'hylia-serif';
    src: url('../assets/Triforce.ttf') format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../assets/botw-background.jpg');
  font-family: 'hylia-serif';
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('../assets/space-background.jpg'); */
}



Main {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('../assets/space-background.jpg'); */
}
@font-face {
    font-family: 'hylia-serif';
    src: url('../assets/Triforce.ttf') format("truetype");
}

h1 {
  font-family: 'hylia-serif';
  font-size: 50px;
  color: orange;
}

h2 {
  color: orange;
}
p {
  color: orange;
}

h3 {
  color: red;
}

.instructions {
  width: 200px;
  margin-right: 20px;
  text-align: center;
  font-size: 30px;
}

.game {
  margin-left: 20px;
}

div.grid {
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  /* box-shadow: 10px 5px 5px gold, -10px -5px 5px gold; */
}

div.grid-item {
  width: 70px;
  height: 70px;
  /* border: 1px dashed black; */
}

div.grid-item.player {
  background-image: url('../assets/link-botw.gif');
  /* background-color: blue; */
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.enemy {
  background-image: url('../assets/bokoblin.gif');
  /* background-color: black; */
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

div.grid-item.missile {
  background-image: url('../assets/ancient-arrow-sprite.png');
  /* background-color: red; */
  background-size: contain;
  background-repeat: no-repeat;
  /* position: relative; */
}

div.grid-item.bomb {
  background-image: url('../assets/goblin-mallet-sprite.png');
  /* background-color: purple; */
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

footer {
  color: white;
  text-align: center;
  margin-top: 15px;
}
